/* Reset */
body, html {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    height: 100%;
  }
  
  /* Main Container */
  .main-container {
    display: flex;
    min-height: 100vh;
  }
  
  /* Left Container */
  .left-container {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    width: 20%; /* Adjust as needed */
    padding: 20px;
    background-color: #f4f4f4;
    overflow-y: auto; /* Enable vertical scrolling for the left container */
  }
  
  
  /* Profile Menu */
  .profile-menu-container {
    text-align: center;
  }
  
  .profile-image {
    width: 150px;
    height: 150px;
    border-radius: 50%;
  }
  
  .menu {
    margin-top: 10px;
  }
  .menu a:visited {
    color: green; /* Style for visited link */
  }
  .menu a {
    display: block;
    text-decoration: none;
    color: #333;
    padding: 10px 0;
    transition: all 0.3s ease;
  }
  
  .menu a:hover {
    background-color: #3a3838;
    color: #f7f3f3;
  }
  
  .menu a:active,
  .menu a.active {
    background-color: #1876c4;
    color: #fff;
  }

 
  /* Right Container */
 
  .right-container {
    width: 80%;
    padding: 20px;
    overflow-y: auto;
    margin-left: 22%; /* Set the margin to the width of the left container */
  }

  .left-container {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    width: 20%; /* Adjust as needed */
    padding: 20px;
    background-color: #f4f4f4;
    overflow-y: auto; /* Enable vertical scrolling for the left container */
  }
  .page-section {
    margin-bottom: 20px; /* Add space between page sections */
    padding: 20px;
    border: 1px solid #ccc;
    background-color: #fff;
  }
  
  /* Content Text Styles */
  .right-container .content {
    font-size: 16px;
    line-height: 1.6;
    color: #555;
  }
  .right-container img {
    width: 100%;
    height: 10%;
  }
  h1{
    font-size: 24px;
    color: green;
    margin-bottom: 10px;
  }
  h2{
    font-size: 20px;
    color: rgb(121, 202, 121);
    margin-bottom: 10px;
  }
  p{
    font-size: 20px;
    color: #020203;
    margin-bottom: 10px;
    line-height: 1.5; 
  }
  li{

    font-size: 20px;
    color: #020203;
    margin-bottom: 10px;
  }
  .right-container .content h1 {
    font-size: 24px;
    color: #007bff;
    margin-bottom: 10px;
  }
  
  .right-container .content h2 {
    font-size: 20px;
    color: #009688;
    margin-top: 20px;
  }
  
  .right-container .content p {
    margin-bottom: 15px;
  }
  
  .right-container .content ul {
    list-style-type: disc;
    margin-bottom: 15px;
  }
  
  .right-container .content li {
    margin-bottom: 10px; /* Increased margin between list items */
  }
  
  /* Footer */
  footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    position: relative;
    margin-top: 20px;
  }
  
  footer p {
    margin: 0; /* Remove default margin for the footer paragraph */
  }
 